.catBtn-container {
    display: flex;
}

.catBtn-container button {
    color: var(--searchBlue);
    border: none;
    background-color: var(--bgWhite);
    font-size: 1.25rem;
    margin-right: 2rem;
}