.catBtn-container {
    display: flex;
    flex-wrap: wrap;
}

.catBtn-container button {
    color: var(--searchBlue);
    border: none;
    background-color: var(--bgWhite);
    font-size: 1.25rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 770px) {
    .catBtn-container button {
        font-size: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 430px) {
    .catBtn-container button {
        margin: 0.25rem;
    }
}