.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.cartImage-container {
    position: relative;
}

.cart-icon {
    color: var(--logoBlue);
    width: 70px;
    height: 30px;
}
  
.numItemsInCart {
    position: absolute;
    top: 0;
    right: 25px;
    background-color: var(--red);
    color: white;
    font-weight: 700;
    border-radius: 50%;
    font-size: 12px;
    width: 17.69px;
    height: 16px;
    text-align: center;
    line-height: 14.52px;
}
  