:root {
  --bgWhite: #FAFAFA;
  --logoBlue: #3A4895;
  --red: #F90505;
  --searchBlue: #5264C3;
  --titleBlk: #282828;
  --catGray: #949494;
  --cardBorderGray: #EFEFEF;
  --cardElipseGray: #E7E7E7;
  --white: #FFFFFF;
  --formGray: #B4B4B4;
  --addCartYellow: #FFD814;
  --cartBorder: #D9D9D9;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-3.19/Inter Hinted for Windows/Web/Inter-Regular.woff2') format('woff2'),
       url('Inter-3.19/Inter Hinted for Windows/Web/Inter-Regular.woff') format('woff');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bgWhite);
}