.productDetails-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--white);
    width: 45rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.product-image {
    width: 13.5rem;
    height: auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 13.5rem;
    height: auto;
}

.product-title, .product-price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.description-holder {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.description {
    margin-bottom: 0.5rem;
}

.product-info button {
    color: black;
    background-color: var(--addCartYellow);
    font-size: 0.875;
    font-weight: 700;
    width: 9.75rem;
    height: 2.5625rem;
    border: none;
}

@media only screen and (max-width: 430px) {
    .product-image {
        margin-bottom: 1rem;
    }
}