.homepage-container {
    margin: 0 7rem;
    padding: 0;
    height: 100vh;
}

.btns-container button {
    color: var(--searchBlue);
    border: none;
    background-color: var(--bgWhite);
    font-size: 1.25rem;
    margin-right: 2rem;
}

.items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--white);
    width: 11.4375rem;
    height: 15.5rem;
    padding: 0 1rem;
    text-align: left;
}

.image-container {
    width: 9.4375rem;
    height: 9.5625rem;
    border: 1px solid var(--cardBorderGray);
}

.item-info-container {
    text-align: left;
}

.item-title {
    color: var(--titleGray);
    font-size: 0.75rem;
    font-weight: 700;
}

.item-cat {
    color: var(--catGray);
    font-size: 0.625rem;
}

.item-price {
    color: var(--titleGray);
    font-size: 0.75rem;
    font-weight: 600;
}