.homepage-container {
    margin: 0 7rem;
    padding: 0;
    /* height: 100vh; */
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btns-container button {
    color: var(--searchBlue);
    border: none;
    background-color: var(--bgWhite);
    font-size: 1.25rem;
    margin-right: 2rem;
}

.items-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

@media only screen and (max-width: 770px) {
    .homepage-container {
        margin: 0;
    }

    .btns-container button {
        font-size: 1rem;
        margin: 0 1rem 0 2rem;
    }
}

@media only screen and (max-width: 430px) {

    .allBtn {
        margin: 0;
    }
}